html {
  background-color: rgb(159, 214, 202);
}

.chalkboard {
  align-items: center;
  background: url("../images/chalkboard.svg") center / contain no-repeat;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 0 auto;
}

.chalkboard h1 {
  font-size: clamp(5em, 10vh, 8em);
  color: white;
}

.canvas-container {
  display: flex;
  height: clamp(20rem, 50vh, 35rem);
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
}

.canvas--paper {
  --size: clamp(20rem, 50vh, 35rem);
  background: url("../images/canvas.svg") center / cover no-repeat;
  cursor: url("../images/pencil_cursor.svg") 0 25, auto;
  height: var(--size);
  width: var(--size);
}

.canvas--controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  margin: auto;
}

.canvas--controls__button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
}