html {
  background-color: rgb(130, 171, 164);
}

.chalkboard {
  align-items: center;
  background: url("../images/chalkboard.svg") center / contain no-repeat;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
}

.chalkboard h1 {
  font-size: clamp(5em, 10vh, 8em);
  color: white;
}

.canvas-container {
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
}

.canvas__paper {
  background: url("../images/canvas.svg") center / cover no-repeat;
  height: 60vh;
}

.prediction--box {
  max-width: 20rem;
}